# GEMINI API Key
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Automation Webhook Endpoint URL for Campaign Activation
WEBHOOK_URL="https://workflow.ccbp.in/webhook-test/activate-campaign"
VITE_WEBHOOK_URL="https://workflow.ccbp.in/webhook-test/activate-campaign"
NEXT_PUBLIC_WEBHOOK_URL="https://workflow.ccbp.in/webhook-test/activate-campaign"

# Application hosting URL
APP_URL="http://localhost:3000"
