# GEMINI API Key
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# Automation Webhook Endpoint URL for Campaign Activation
WEBHOOK_URL="https://workflow.ccbp.in/webhook/activate-campaign"
VITE_WEBHOOK_URL="https://workflow.ccbp.in/webhook/activate-campaign"
NEXT_PUBLIC_WEBHOOK_URL="https://workflow.ccbp.in/webhook/activate-campaign"

# Legal Mail Webhook Endpoint URL
LEGAL_MAIL_WEBHOOK_URL="https://workflow.ccbp.in/webhook-test/legal-mail"
VITE_LEGAL_MAIL_WEBHOOK_URL="https://workflow.ccbp.in/webhook-test/legal-mail"

# Application hosting URL
APP_URL="http://localhost:3000"
